templates/.ipynb_checkpoints/faraday_template-checkpoint.ipynb
templates/zb_W.dat
templates/zb_C.dat
templates/zb_Al.dat
*.pyc
templates/zb_Spk_C_NLTE.txt
*.pyc
*.pyc
*.pyc
*.pyc
code/__pycache__/scopes.cpython-35.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/magpie_tools.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
templates/example_data/s1006_15 532nm neL.txt
*.dat
